<div ng-controller="HeaderController">
  <div ng-if="show">
    <div id="header">
      <div id="logo"></div>
     <a user-logout>
        <div id="user" ng-controller="AccountController">
          <div id="userImg"></div>
          <div id="userName">{{User.data.login}}</div>
          <div id="userMenu" ng-show="false">
            <div><i class="btn btn-move"></i> Settings</div>
            <div><i class="btn btn-move"></i> Log Out</div>
          </div>
        </div>
      </a>
    </div>
    <div id="searchnstuff">
    	<div ng-controller="SearchController">
    		<div ng-include="'app/src/SearchModule/Views/form.html'"></div>
    	</div>

      <div id="searchnactions">
        <div id="newFolder" ng-click="openCreateFolderModal()"></div>
        <div id="uploadFile" ng-click="openUploadModal()"></div>
      </div>

    </div>
    <div id="menubar">
      <ul>
      	<a ng-href="#/">
          <li ng-class="(currentPage == 'home') ? 'active' : ''">Home</li>
        </a>
        <a ng-href="#/recent">
          <li ng-class="(currentPage == 'recent') ? 'active' : ''">Recent</li>
        </a>
        <a ng-href="#/favorite">
          <li ng-class="(currentPage == 'favorite') ? 'active' : ''">Favorite</li>
        </a>
        <a ng-href="#/public">
          <li ng-class="(currentPage == 'public') ? 'active' : ''">Public</li>
        </a>
        <a ng-href="#/downloaded">
          <li>Downloaded</li>
        </a>
        <a ng-href="#"><li>Friends</li></a>
      </ul>
    </div>
  </div>
</div>