<div ng-controller="HeaderController">
  <div ng-if="show">
    <div id="header">
      <a ng-href="#/">
          <div id="logo"></div>
      </a>
      <div id="user" ng-controller="AccountController">
        <span id="userName"><strong>{{User.login}}</strong></span> <i><br /> 
        ({{User.used_space | Bytes:1}} of {{User.space | Bytes:1}} used)</i> <br />
        <span><a style="cursor:pointer" user-logout ng-href="">Logout</a></span>
      </div>
    </div>
    <div id="searchnstuff">
    	<div ng-controller="SearchController">
    		<div ng-include="'app/src/SearchModule/Views/form.html'"></div>
    	</div>

      <div id="searchnactions">
        <div id="newFolder" ng-click="openCreateFolderModal()"></div>
        <div id="uploadFile" ng-click="openUploadModal()"></div>
      </div>
    </div>
    <div id="menubar">
      <ul>
      	<a ng-href="#/">
          <li ng-class="(currentPage == 'home') ? 'active' : ''">Home</li>
        </a>
        <a ng-href="#/recent">
          <li ng-class="(currentPage == 'recent') ? 'active' : ''">Recent</li>
        </a>
        <a ng-href="#/favorite">
          <li ng-class="(currentPage == 'favorite') ? 'active' : ''">Favorite</li>
        </a>
        <a ng-href="#/public">
          <li ng-class="(currentPage == 'public') ? 'active' : ''">Public</li>
        </a>
        <a ng-href="#/downloaded">
          <li ng-class="(currentPage == 'downloaded') ? 'active' : ''">Downloaded</li>
        </a>
        <a ng-href="#/sharedToMe">
          <li ng-class="(currentPage == 'sharedToMe') ? 'active' : ''">Shared With Me</li>
        </a>
        <a ng-href="#/friends">
          <li ng-class="(currentPage == 'friends') ? 'active' : ''">Following</li>
        </a>
        <a ng-if="User.admin == true" ng-href="#/admin/users">
          <li ng-class="(currentPage == 'admin') ? 'active' : ''">Admin</li>
        </a>
      </ul>
    </div>
  </div>
</div>