<div class="modal-header">
	<h3>File upload :</h3>
</div>
<div class="modal-body">
	<div id="uploadform">
		<file ng-model="uploadFile"></file>
		<button class="btnclassic" ng-click="startUpload(uploadFile)">Upload File</button>
	</div>

	<div id="content" ng-if="files != {}">
		<table>
			<thead>
				<th>Filename</th>
				<th>status</th>
				<th>progress</th>
			</thead>
			<tbody>
				<tr ng-repeat="file in files">
					<td style="width:50%;">{{ file.file.name }}</td>
					<td style="width:30%;">{{ file.status }} <span ng-if="file.error"> : {{file.error.message}}</span></td>
					<td style="width:20%;">{{ file.partIndex }} / {{ file.partCount }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-if="files == {}">
		No files uploaded.
	</div>


</div>
<div class="modal-footer">
	<span class="thin">(closing this window will not interrupt your uploads)</span><button class="btnclassic" ng-click="cancel()">Close</button>
</div>