<div>Files list</div>

<div ng-controller="AccountController">
	<div ng-include="'app/src/UserModule/Views/Account/menu.html'"></div>
</div>

<div ng-controller="uploadTest">
	<div><file ng-model="foo"></file></div>
	<img src="{{ foo2.url }}" />
</div>

<div>
	<div fsystem-breadcrumb>
		breadcrumb:
	</div>
	<div>
		<form ng-submit="createFolder(foldername)">
			<input type="text" style="text-align:center" placeholder="folder's name" autofocus ng-model="foldername">
		</form>
	</div>

	Root: "{{root.name}}"<br />
	<table border="1" ng-show="!error">
		<thead>
			<tr>
			    <th>Files</th>
			    <th>public</th>
			    <th>favorite</th>
			    <th>delete</th>
			    <th>Modified</th>
		    </tr>
		</thead>
		<tbody>
			<tr ng-repeat="folder in root.folders">
				<th><pre><a ng-href="#/{{folder.id}}">{{folder.name}}</a></pre></th>
				<th><pre style="color:#F0F">{{folder.public | Checkmark }}</pre></th>
				<th><pre style="color:#F0F">{{folder.favorite | Checkmark }}</pre></th>
				<th><pre ng-click="deleteFSystem(folder)">delete</pre></th>
				<th><pre>{{folder.last_update | date: 'short'}}</pre></th>
			</tr>
			<tr ng-repeat="file in root.files">
				<th>{{file.name}}</th>
				<th><pre style="color:#F0F" ng-click="publicFile(file)">{{file.public | Checkmark }}</pre></th>
				<th><pre style="color:#F0F" ng-click="favoriteFile(file)">{{file.favorite | Checkmark }}</pre></th>
				<th><pre ng-click="deleteFSystem(file)">delete</pre></th>
				<th><pre>{{file.last_update | date: 'short'}}</pre></th>
			</tr>
 		</tbody>
	</table>
	<div ng-show="error" class="error" style="border: 1px solid #F0F">{{error}}</div>
</div>