<div ng-controller="ListController">
	<div ng-if="(root.folders.length + root.files.length == 0) ? true : false">
		No files.
	</div>
	
	<table ng-if="(root.folders.length + root.files.length != 0) ? true : false" style="width:100%" ng-show="!error">
		<thead>
		  <tr>
		    <th class="files">FILES</th>
		    <th></th>
		    <th></th>
		    <th>MODIFIED</th>
		    <th></th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="folder in root.folders" ng-mouseenter="show = true" ng-mouseleave="show = false">
		    <td class="files">
		    	<i class="icon-folder"></i><a ng-href="#/list/{{folder.id}}">{{folder.name}}</a>
		    	<i style="font-size:14px" ng-show="folder.owner"> (owned by <a ng-href="#/profile/{{folder.owner.id}}">{{folder.owner.login}}</a>)</i>
		    </td>
		    <td ng-show="show">
              <i class="btn"></i>
		      <i class="btn"></i>
		      <i class="btn"></i>
		      <i class="btn"></i>
              <a ng-if="showMove" ng-click="openMoveFSystemModal(folder)"><i class="btn btn-move"></i></a>
		      <a ng-click="deleteFSystem(folder)"><i class="btn btn-delete"></i></a>
		    </td>
		    <td ng-show="!show">
		      <i class="btn"></i>
		      <i class="btn"></i>
		      <i class="btn"></i>
		      <i class="btn"></i>
		      <i class="btn"></i>
		      <i class="btn"></i>
		    </td>
		    <td>{{folder.last_update | date: 'short'}}</td>
		    <td>
		    	<a ng-if="(!root.isPublic && !file.owner) || root.isShared" ng-click="publicFSystem(folder)"><i class="btn btn-public" ng-class="(folder.public) ? 'active' : ''"></i></a>
		    	<i ng-if="(root.isPublic || folder.owner) && !root.isShared" class="btn"></i> 
		    	<a ng-click="favoriteFSystem(folder)"><i class="btn btn-fav" ng-class="(folder.favorite) ? 'active' : ''"></i></a>
		    </td>
		  </tr>

		  <tr ng-repeat="file in root.files" ng-mouseenter="show = true" ng-mouseleave="show = false" >
		    <td class="files">
		    	<i class="icon-file"></i> {{file.name | charlimit:35 :true}}
		    	<i style="font-size:14px" ng-show="file.owner != null"> (owned by <a ng-href="#/profile/{{file.owner.id}}">{{file.owner.login}}</a>)</i>
		    </td>
		    
		    <td ng-show="show" ng-if="root.isPublic">
		      <i class="btn"></i>
		      <a><i class="btn"></i></a>
		      <a><i class="btn"></i></a>
		      <a ng-click="openSyncFileModal(file)"><i class="btn btn-transfer"></i></a>
		      <a ng-click="openGetDDLinkModal(file)"><i class="btn btn-links"></i></a>
		      <a ng-click="getDDL(file)"><i class="btn btn-download"></i></a>
		    </td>
		    <td ng-show="show" ng-if="!root.isPublic">
		      <i class="btn"></i>
		      <i ng-if="file.owner" class="btn"></i>
              <a ng-if="showMove" ng-click="openMoveFSystemModal(file)"><i class="btn btn-move"></i></a>
		      <a ng-if="!file.owner" ng-click="openShareFSystemModal(file)"><i class="btn btn-share"></i></a>
		      <a ng-click="openGetDDLinkModal(file)"><i class="btn btn-links"></i></a>
		      <a ng-click="getDDL(file)"><i class="btn btn-download"></i></a>
		      <a ng-click="deleteFSystem(file)"><i class="btn btn-delete"></i></a>
		    </td>

		    <td ng-show="!show">
		      <i class="btn"></i>
		      <i class="btn"></i>
		      <i class="btn"></i>
		      <i class="btn"></i>
		      <i class="btn"></i>
		      <i class="btn"></i>

		    </td>
		    <td>{{file.last_update | date: 'short'}}</td>
		    <td>
		    	<a ng-if="(!root.isPublic && !file.owner) || root.isShared" ng-click="publicFSystem(file)"><i class="btn btn-public" ng-class="(file.public) ? 'active' : ''"></i></a>
		    	<i ng-if="(root.isPublic || file.owner) && !root.isShared" class="btn"></i> 
		    	<a ng-click="favoriteFSystem(file)"><i class="btn btn-fav" ng-class="(file.favorite) ? 'active' : ''"></i></a>
		    </td>
		  </tr>
		</tbody>
	</table>
</div>