<div ng-if="(root.folders.length + root.files.length == 0) ? true : false">
	No files.
</div>

<table ng-if="(root.folders.length + root.files.length != 0) ? true : false" style="width:100%" ng-show="!error">
	<thead>
	  <tr>
	    <th class="files">FILES</th>
	    <th></th>
	    <th>MODIFIED</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="folder in root.folders" ng-mouseenter="show = true" ng-mouseleave="show = false">
	    <td class="files"><a ng-href="#/list/{{folder.id}}">{{folder.name}}</a></td>
	    <td ng-show="show">
	    	<i class="btn"></i>
	    	<i class="btn"></i>
	      <a><i class="btn btn-move"></i></a>
	      <a ng-click="deleteFSystem(folder)"><i class="btn btn-delete"></i></a>
	    </td>
	    <td ng-show="!show">
	      <i class="btn"></i>
	      <i class="btn"></i>
	      <i class="btn"></i>
	      <i class="btn"></i>
	    </td>
	    <td>{{folder.last_update | date: 'short'}}</td>
	    <td><a ng-click="publicFSystem(folder)"><i class="btn" ng-class="(folder.public) ? 'btn-unpublic' : 'btn-public'"></i></a> <a ng-click="favoriteFSystem(folder)"><i class="btn" ng-class="(folder.favorite) ? 'btn-unfav' : 'btn-fav'"></i></a></td>
	  </tr>

	  <tr ng-repeat="file in root.files" ng-mouseenter="show = true" ng-mouseleave="show = false" >
	    <td class="files">{{file.name}}</td>
	    <td ng-show="show">
	      <a><i class="btn btn-move"></i></a>
	      <a ng-click="alert('dl link')"><i class="btn btn-links"></i></a>
	      <a ng-click="getDDL(file)"><i class="btn btn-download"></i></a>
	      <a ng-click="deleteFSystem(file)"><i class="btn btn-delete"></i></a>
	    </td>
	    <td ng-show="!show">
	      <i class="btn"></i>
	      <i class="btn"></i>
	      <i class="btn"></i>
	      <i class="btn"></i>
	    </td>
	    <td>{{file.last_update | date: 'short'}}</td>
	    <td><a ng-click="publicFSystem(file)"><i class="btn" ng-class="(file.public) ? 'btn-unpublic' : 'btn-public'"></i></a> <a ng-click="favoriteFSystem(file)"><i class="btn" ng-class="(file.favorite) ? 'btn-unfav' : 'btn-fav'"></i></a></td>
	  </tr>
	</tbody>
</table>